@page
"/OurStudent"

@{
    ViewData["Title"] = "OurStudent page";
}





<h2>OurStudent Page</h2>

<form method="post">
    <div>
        <label asp-for="Student.FirstName"></label>
        <input asp-for="Student.FirstName" />
        <span asp-validation-for="Student.FirstName"></span>
    </div>
    <div>
        <label asp-for="Student.LastName"></label>
        <input asp-for="Student.LastName" />
        <span asp-validation-for="Student.LastName"></span>
    </div>
    <div>
        <button type="submit" name="submitButton">Save</button>
    </div>
</form>

@if (Model.SavedStudents != null && Model.SavedStudents.Any())
{
    <h2>Saved Data</h2>
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var savedStudent in Model.SavedStudents)
            {
                <tr>
                    <td>@savedStudent.FirstName</td>
                    <td>@savedStudent.LastName</td>
                </tr>
            }
        </tbody>
    </table>
}






