html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 30px;
}
table, th, td {
    border: 1px solid black;
    color: black;
    border-block-color: inherit;
    
}
table{
    table-layout: auto;
}
th, td {
    
  
}
td{
    text-align:left;
    height:5px;
}
 th{
     background-color:steelblue;
 }
 .h1{
     text-align:center;
 }
.button {
    color: steelblue;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}
.myform {
    text-align: center;

}
