html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 30px;
}
table, th, td {
    border: 1px solid black;
    color: black;
    border-block-color: inherit;
    
}
table{
    table-layout: auto;
}
th, td {
    
  
}
td{
    text-align:left;
    height:5px;
    background-color:antiquewhite;
}
 th{
     background-color:steelblue;
 }
 .h1{
     text-align:center;
 }
.button {
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: steelblue;
    margin: 4px 2px;
    display: inline-block;
    font-size: 13px;
    vertical-align: middle;
    
}
.myform {
    text-align: center;
    border: 1px solid black;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
    background-color: lightblue;
}
#myForm {
    height: 100%;
    width: 100%;
    display: flex;
    display: inline-block;
    vertical-align: middle;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}
label {
    display: block;
 
    text-align: right;
    width:50px;
    margin: 0 0 5px 0;
}
input {
  
    left: 50px;
}
{
}
