/*
body {
    align-content: center;
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

*/


AddPage
h2{
    text-align:center;
   
}
#addstd {
    width: 100%;
    margin: 40px auto;
    border: solid;
    top: 300px;
    left: 75px;
    width: 630px;
    height: 490px;
    
    border: solid;
}
label {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
  
  
    font-family: Arial, Helvetica, sans-serif;
}

#firstName {
    border: 2px solid black;
    margin-left: 40px;
    width: 350px;
    height: 25px;
}
#lastName {
    border: 2px solid black;
    margin-left: 40px;
    width: 350px;
    height: 25px;
}
#gender {
    border: 2px solid black;
    margin-left: 62px;
    width: 180px;
    height: 25px;
}
#dob {
    border: 2px solid black;
    margin-left: 32px;
    width: 180px;
    height: 25px;
}
#age {
    border: 2px solid black;
    width: 50px;
    height: 25px;
}
#class {
    border: 2px solid black;
    margin-left: 88px;
    width: 180px;
    height: 25px;
}
#address {
    border: 2px solid black;
    margin-left: 66px;
    width: 350px;
    height: 70px;
}

#re{
    color:red;
    
}
#btn{
  text-align:center;
  
}
#frt {

    margin-bottom: 20px;
}
#lst {
    margin-bottom: 20px;
}
#gnd {
    margin-bottom: 20px;
}
#combo {
    display: inline-flex;
   
}
#cts {
  margin-bottom:20px;
}

#ag1 {
    margin-bottom: 20px;
    margin-left: -30px;
}
#save {
    position: relative;
    top: 10px;
    right: -243px;
}
#cancel {
    position: relative;
    top: 10px;
    right: -93px;
}



#cust{
    margin-left:51px;
}
#error-age {
   
}
#first-error {
    margin-left:188px;
    font-size: 12px;
  /*  position: absolute;*/
   /* top: 174px;
    right: 481px;*/
    color: red;
}
/*#first-e {
    top: 228px;
    right: 606px;
    font-size: 12px;
    position: absolute;
    color: red;
}*/
#last-error {
    margin-left: 188px;
    /* top: 219px;
    right: 481px;*/
    font-size: 12px;
    /*    position: absolute;*/
    color: red;
}
#gender-error {
   /* top: 265px;
    right: 481px;*/
    font-size: 12px;
    /*position: absolute;*/
    color: red;
    margin-left: 188px;
}
#dateofbirth-error {
    font-size: 12px;
    
   margin-top:27PX;
    color: red;
    margin-left:188px;
  
    
    
}
#error-age {
  
    font-size: 12px;
   
    margin-left: 90px;
    color: red;
    font-size: 12px;
  
 
   
}


