8

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0 0 auto;
}

.main1 {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    /*text-align: center;*/
    /*align-items: center;*/
    border: 3px solid steelblue; /* Add border properties */
    width: 640px; /* Set the width to 640px */
    height: 590px;
    margin: 0px auto;
    margin-top: auto;
    box-sizing: border-box; /* Include the border in the width calculation */
}
#lst{
    margin-bottom:20px;
}
#gnd {
    margin-bottom: 20px;
}
#cls {
    margin-top : 20px;
    margin-bottom: 20px;
}
#ads {
    margin-bottom: 20px;
}









h2 {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.f1 {
    margin-left: 70px;
    margin-right: 20px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    clear: both;
    display: inline-block;
}

.l1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    margin-left: 70px;
    margin-right: 24px;
    clear: both;
    display: inline-block;
}

.g1 {
    margin-left: 70px;
    margin-right: 50px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    color: #333;
}

.d1 {
    margin-left: 70px;
    margin-right: 11px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    clear: both;
    display: inline-block;
}

.a1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    margin-left: 25px;
    margin-right:10px;
}

.c1 {
    margin-left: 70px;
    margin-right: 81px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    color: #333;
    text-align: center;
    display: inline-block;
}

.add1 {
    margin-left: 70px;
    margin-left: 70px;
    margin-right: 58px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    color: #333;
    height: 20px;
    width: 200px;
    display: inline
}

.Save {
    font-family: Georgia, "Times New Roman", Times, serif;
    background-color: steelblue;
    color: black;
    border-radius: 8px;
    top: 503px;
    right: 472px;
    padding: 6px 12px;
    font-size: 18px;
    position: absolute;
}

.Cancel {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: black;
    background-color: lightgray;
    border-radius: 8px;
    top: 503px;
    right: 381px;
    padding: 6px 12px;
    font-size: 18px;
    position: absolute;
}

.Delete {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: red;
    background-color: lightgray;
    border-radius: 8px;
    top: 500px;
    right: 777px;
    margin-left: 50px;
    padding: 6px 12px;
    font-size: 18px;
    position: absolute;
}



.db {
    display: flex;
}

.db1 {
    display: flex;
    height : 25px;
   /* margin-bottom : 20px*/
}

#frt {
    margin-bottom: 20px;
}

.errorf {
    font-size: 12px;
    position: absolute;
    margin-left: 195px;
    color: red;
}

.errorl {
    font-size: 12px;
    position: absolute;
    margin-left: 195px;
    color: red;
}
.errorg {
    font-size: 12px;
    position: absolute;
    margin-left: 195px;
    color: red;
}
.errord {
    font-size: 12px;
    position: absolute;
    margin-left: 17px;
    color: red;
    margin-top: 26px;
    margin-left: -181px;
}
.errora {
    font-size: 12px;
    position: absolute;
    margin-left: 452px;
    color: red;
}
.btn{

    font-size:20px;
}
#firstName {
    width: 350px;
    height: 25px;
}

#lastName {
    
    width: 350px;
    height: 25px;
}

#gender {
  
    width: 180px;
    height: 25px;
}

#dob {

    width: 180px;
    height: 25px;
}

#age {
   
    
    width: 58px;
    height: 25px;
}

#class {
   
    width: 180px;
    height: 25px;
}

#address {
  
   
    width: 350px;
    height: 100px;
}
.btn{
    display:flex;
}



.required {
    color: red;
}
