/*html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}
.first-row-color {
    background-color:antiquewhite;
}

.clicked-row-color {
    background-color:antiquewhite;
}


body {
    


    
}
.highlighted {
    background-color:lightblue;
}

 th, td {
    font-family: Georgia, "Times New Roman", Times, serif;
    border:solid;
    border-collapse: collapse;
    padding: 10px;
}
.container {
  
}
th{
    color:black;
    background-color:steelblue;
}
h2{
    text-align:center;
    
}
.body1 {
    border: solid;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.search {
    
    position: absolute;
    top: 73px;
    right: 269px;
}
.first-row-color {
    background-color:aquamarine;
}*/

/* Style for the clicked row */

/*.btn{

}
.Add {
    font-family: Georgia, "Times New Roman", Times, serif;
    background-color: steelblue;
    color: black;
    border-radius: 4px;
    position: absolute;
    top: 73px;
    right: 160px;
    width: 8%;
    height: 7%;
    padding: 6px 12px;
}
#searchBox{
    width:120px;
    height:41px;
}
.theader{
    
}*/


#userTable tr.default-color {
    background-color: Window;
    display: table-row;
}

#userTable tr.first-row-color {
    background-color: #eaf2c2;
    display: table-row;
}

#userTable tr.selected-color {
    background-color: bisque;
    display: table-row;
}


selected-row {
    background-color: bisque;
    display: table-row;
}