body {
    
}
.l1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    color: #333;
    height: 20px;
    width: 200px;
   
    margin-left: 20px;
    text-align: left;
    clear: both;
    display: inline-block;
    margin-left: 50px;
}
.frm{
    padding-left:20px;
    padding-bottom:20px;
    padding-right:20px;
    padding-top:20px;
    border:solid;
}

.f1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    color: #333;
    height: 20px;
    width: 200px;

    margin-left: 10px;
    text-align: left;
    clear: both;
    display: inline-block;
    margin-left: 50px;
}

.g1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    color: #333;
    height: 20px;
    width: 200px;
   
    text-align: left;
    clear: both;
    display: inline-block;
    margin-left: 50px;
}

.d1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    color: #333;
    height: 20px;
    width: 200px;
   
    text-align: left;
    clear: both;
    display: inline-block;
    margin-left: 50px;
}

.c1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    color: #333;
    height: 20px;
    width: 200px;
   
    text-align: left;
    clear: both;
    display: inline-block;
    margin-left: 50px;
}

.add1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    color: #333;
    height: 20px;
    width: 200px;
   
    text-align: left;
    clear: both;
    display: inline-block;
    margin-left: 50px;
    position: relative;
    top: -87px;
}

.Save {
    font-family: Georgia, "Times New Roman", Times, serif;
    background-color: steelblue;
    color: black;
    border-radius: 4px;
    top: 78px;
    right: 668px;
    padding: 6px 12px;
    font-size: 18px;
    position: absolute;
}

.Cancel {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: black;
    background-color: lightgray;
    border-radius: 4px;
    top: 158px;
    right: 543px;
    padding: 6px 12px;
    font-size: 18px;
    position: absolute;
}
.Delete {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: red;
    background-color: lightgray;
    border-radius: 4px;
    top: -4px;
    right: 617px;
    padding: 6px 12px;
    font-size: 18px;
    position: absolute;
}
    
.userf{
  
}
.errorf {
    font-size:12px;
    position: absolute;
    margin-left: 193px;
    color: red;
}
.errorl {
    font-size: 12px;
    position: absolute;
    margin-left: 193px;
    color: red;
}

.del {
    position: relative;
    margin-top: 50px;
    left: 50px;
    top: -26px;
    font-size: medium;
    margin-bottom: 30px;
}
.main1{
    position:absolute;
    margin-bottom:10px;

}

.sav {
    margin-top: 50px;
    top: -108px;
    right: -400px;
    position: relative;
}

.can {
    margin-top: 50px;
    top: -188px;
    right: -453px;
    position: relative;
    
}

.frt {
    
   margin-bottom:25px;
  
}

.lst {
    margin-bottom: 25px;
}

.gnd {
    margin-bottom: 25px;
}

.db {
    margin-bottom: 25px;
}

.cls {
    margin-bottom: 25px;
}

.ads {
    margin-bottom: 25px;
}


#firstName {
    
    margin-left: -60px;
    width: 322px;
    height: 25px;
}

#lastName {
    margin-left: -60px;
    width: 322px;
    height: 25px;
   
}

#gender {
    margin-left: -60px;
    width: 150px;
    height: 25px;
}

#dob {
    margin-left: -60px;
    width: 150px;
    height: 25px;
}

#age {
    margin-left: 20px;
    width: 40px;
    height: 25px;
}

#class {
    margin-left: -60px;
    width: 150px;
    height: 25px;
}

#address {
    margin-left: -60px;
    margin-top: 20px;
    width: 322px;
    height: 100px;
}

label {
}

#lage {
    top: 10px;
    right: 20px;
}

.userf {
   
    border:solid;
}

.required {
    color: red;
}
