@inherits LayoutComponentBase

<PageTitle>TaskBlazor</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        
      @*   <NavLink href="/page1">Page 1</NavLink>
        <NavLink href="/AddStudent">AddStudent</NavLink> *@
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
