@page "/AddStudent"
@inherits AddStudentBase


@* <EditForm Model="@students" >
    <div>
        <label for="firstName">FirstName</label>
        <InputText id="firstName" @bind-Value="students.FirstName"></InputText>
    </div>

    <div>
        <label for="lastName">LastName</label>
        <InputText id="lastName" @bind-Value="students.LastName"></InputText>
    </div>
    <button type="submit" onsubmit="HandleSubmit">Save</button>
   
</EditForm> *@
    