@{
    ViewData["Title"] = "Home Page";
}
<html>
    <script src="ourstudent.js"></script>




<body>
    <p id="demo">A Paragraph.</p>
    <a href="Addstudent.html">Add</a>

    <button type="button" onclick="myFunction()">Try it</button>

    </thead>
<title> Out Student </title>
<div class="input-container">
        
   <table align="center">
       <thead >
       <tr>
       <th>FirstName</th>
       <th>LastName</th>
       <th>Gender</th>
       <th>Age</th>
       <th>Class</th>
        </tr>
             
        <tr align="left">
            <td>Rahul</td>
            <td>Guri</td>
            <td>Male</td>
            <td>23</td>
            <td>12th</td>


        </tr>
        <tr align ="left">
           <td>Shubham</td>
           <td>Guru</td>
           <td>Male</td>
           <td>10</td>
           <td>7th Class</td>
        </tr>
        </thead>
        <tbody>
            
        </tbody>
   </table> 
</div>
 </body>
    </html>