@page
@model Taskweb2.Pages.Shared.ConfirmationModelModel
@{
}
<h2>Data Saved Successfully!</h2>

<div>
    <label>First Name:</label>
    <span>@Model.UserData.FirstName</span>
</div>
<h2>Data Saved Successfully!</h2>
