@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h2>Enter Data</h2>

@using (Html.BeginForm("DisplayData", "Home", FormMethod.Post))
{
    <div>
        <label for="FirstName">First Name:</label>
        @Html.TextBoxFor(model => model.FirstName)
    </div>
    <div>
        <label for="LastName">Last Name:</label>
        @Html.TextBoxFor(model => model.LastName)
    </div>

    <button type="submit">Save</button>
}